.app {
  background-image: url("../src/assets/background.png");
  background-color: rgb(4, 4, 53);
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
  margin-bottom: 0.85rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin {
  width: 100%;
  height: 6px;
  background: repeating-linear-gradient(45deg, rgb(255, 255, 0), rgb(255, 255, 0) 15px, rgb(0, 0, 0) 15px, rgb(0, 0, 0) 30px);
} 

.content-inner {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
  padding: 2rem;
}

.content-left {
  background-color: rgba(225, 225, 225, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img {
  z-index: 2;
}

.flecha {
  transform: rotate(90deg);
  z-index: 1;
}

.button {
  background-color: blue;
  color: white;
  width: 1000PX;
  height: 550PX;
  font-size: 30px;
}

.resultado {
  margin-top: 30px;
  font-size: 26px;
  min-height: 40px;
  font-family: Times New Roman,serif;
}

.content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.texto {
  color: white;
  font-size: 24px;
  text-align: center;
}

.coin {
  display: flex;
  align-items: center;
  justify-content: center;
} 

.fire {
  height: 50px;
  background-image: url(../src/assets/flaming-liner.gif);
  background-position: bottom;
  background-repeat: repeat-x; 
  background-size: auto 100%;
  width: 100%;
}